
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.today{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 0 20px;

}

.today i{
    color: #0866ff;
}

.today a{
    list-style: none;
    text-decoration: none;
    color: #0866ff;
}

.today a:hover{
    text-decoration: underline;
}

.cards{
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 200px;
    height: 290px;
}

.card img{
    width: 100%;
    height: 400px;
}

.card span{
    display: flex;
}

.card span {
    font-size: 17px;
    padding: 0 10px;
}

.card p{
    font-size: 15px;
    text-align: left;
    padding: 0 10px;
    font-weight: 500;

}

.card img{
    width: 100%;
    height: auto;
}


.left-sec.hide {
    transform: translateX(-100%);
    opacity: 0;
    /* display: none; */
}


.right-sec.hide {
    transform: translateX(100%);
    opacity: 0;
    /* display: none; */
}

.market-center{
    width: 700px;
}