

@media (max-width:1440px) {

    /* header {
        height: 56px;
    } */

    .left {
        width: 330px;
        padding-left: 15px;
        gap: 8px;
        height: 50px;
    }

    .left .logo {
        height: 40px;
        width: 40px;
        margin: 0;
    }
    .logo a{
        height: 40px;
        display: inline-block;
    }

    .left .search {
        gap: 8px;
        padding: 10px 40px 10px 10px;
    }

  

    .menu {
        width: 590px;
        justify-content: flex-start;

    }

    .menu ul{
        gap: 16px;
    }

    .menu ul li {
       padding: 15px 40px 10px 40px;
    }

    .menu ul li a span {
        height: 24px;
        display: inline-block;
    }
    li.active::before{
        height: 3px;
        border-radius: 1px;
    } 

    .right {
        width: 330px;
        padding-right: 15px;
        justify-content: flex-end;
    }

    

    .container {
        padding: 56px 0 0px 10px;
        width: 100%;
    }

    .left-sec {
        width: 300px;
        padding-top: 20px;
    }

    .center {
        width: 590px;
        padding-top: 20px;

    }


    .cards {
        justify-content: center;
    }

     .card{
         width: 140px;
         height: 250px;
         border-radius: 10px;
     }

    .card-list img {
        width: 40px;
    }

    .card-img{
        
    width: 140px;

    }

    .card-img img{
        width: 163px;
    }

    .card .story-logo img{
        height: 40px;
        width: 40px;
        padding: 0px;
        border: 4px solid #0866ff;
        left: 9px;
        top: 9px;
    }

    .img{
        height: 40px;
        width: 40px;
    }

    .img1 img{
        height: 195px;
    }

    .card-icon{
        padding-top: 15px;
    }

    .card-icon img{
        height: 30px;
        width: 30px;
        padding: 5px;
    }

    .list-hr {
        margin: 10px 0;
    }

    .postList {
        gap: 10px;
        padding: 7px;
    }

    .postList img {
        width: 40px;
    }

    .img1 img {
        object-position: right;
    }

    .center-bottom {

        width: 500px;
    }

    .post {

        width: 500px;
    }

    .post-img img {
        width: 500px;
    }

    .right-sec {
        width: 330px;
        padding-top: 20px;

    }

    .multi-icons{
        margin-right: 15px;
    }
    .sec-detail p{
        font-size: 14px;
    }
}




@media (max-Width:1024px) {

    header {
        width: 100%;
        position: absolute;
        height: 56px;
    }

    .game-none {
        display: none;
    }

    ul .ul-menu-li .bars-icon {
        position: relative;
    }

    .menu ul li {
        padding: 14px 35px;
    }

    .bars-icon {
        display: block;
    }

    .bar-s {

        display: flex;
        height: 3px;
        margin: 5px;
        border-radius: 5px;
        width: 20px;
        background-color: #65676b;
        flex-direction: column;

    }

    .left {
        padding-left: 10px;
        gap: 8px;
    }

    .left .search{
        padding: 15px 15px 15px 15px;
    }

    .left .search img {
        width: 14px;
    }

    .left .logo a {
        width: 35px;
    }

    .search input {
        display: none;
    }

    .menu {
        padding-left: 90px;
    }

    .menu ul {
        gap: 8px;
    }

    li.active::before {
        height: 3px;
    }

    ul.menu-ul li a span img {
        height: 22px;
    }

    .icon2-menu {
        display: block;
    }

    .icon-menu {
        display: none;
    }

    .right {
        height: 56px;
        /* padding-right: 10px; */
    }

    .right-ul li {
        padding: 6px 9px;
        height: 35px;
    }

    .right-ul li a span {
        height: 20px;
        display: inline-block;
    }

    .right-ul li a {
        height: 20px;
        display: inline-block;
    }

    .logo-img {
        padding: 0 5px;
    }

    .logo-img a span {
        display: inline-block;
        height: 35px;

    }

    .logo-img a span img {
        height: 35px;
    }

    .notification {
        top: -12px;
        right: -13px;
    }

    .notify .notification {
        left: 18px;
    }



    .container {
        padding: 55px 0 0 0;
        width: 100%;
    }

    .left-sec {
        display: none;
    }



    .center {
        /* padding: 20px 50px;
        width: 650px; */
        padding: 20px 20px 0 50px;
        width: 660px;
    }

    .card {
        width: 140px;
        height: 250px;
    }

    .img1 img {
        /* object-position: center; */
        padding: 0;
        height: 190px;
    }

    .card-icon {
        padding-top: 22px;
    }

    .card-icon .img {
        height: 40px;
        width: 40px;
    }

    .card-icon .img img {
        height: 30px;
        width: 30px;
    }

    .card-img img {
        width: 165px;

    }

    .center-bottom {
        width: 470px;
    }

    .post {
        width: 470px;
    }

    .post-img {
        width: 470px;
    }

    .right-sec {
        /* padding: 20px 0 0 10px;
        width: 270px; */
        padding: 20px 10px 0 40px;
        width: 314px;
        font-size: 15px;
    }

    .first-sec h4 {
        padding-left: 5px;
    }

    .second-sec p {
        font-size: 12px;
    }

    .third-sec {
        padding-left: 5px;
    }

    .multi-icons {
        font-size: 14px;
        height: 20px;

    }

    .search-icon {
        height: 20px;
    }

    .menu-icon {
        height: 20px;
    }


    .right-sec-hr {
        width: 230px;
        margin-left: 5px;
    }

    .contacts {
        gap: 6px;
    }

    .contacts li a img {
        width: 25px;
    }

    .actives {
        left: 23px;
        height: 9px;
        width: 9px;
    }

    .contact-group h4 {
        padding-left: 5px;
    }
}

@media (max-width:768px) {

    .menu {
        padding-left: 100px;
    }


    header {
        padding: 0 10px;
        width: 100%;

    }

    .left {
        gap: 8px;
        padding: 0;
    }

    .left .logo {
        margin: 0;
    }

    .left .logo a {
        height: 40px;
    }

    .left .search {
        padding: 12px 12px;
    }

    .left .search img {
        width: 17px;
    }

    .menu ul {
        gap: 0;

    }

    .menu ul li {
        padding: 15px 18px 10px 18px;
    }

    .menu li a {
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
    }

    .menu li a span {
        height: 30px;
    }

    ul.menu-ul li a span img {
        height: 24px;
    }

    li.active::before {
        width: 85%;
        margin-left: 6px;
    }


    .right {
        padding: 0;
    }

    .right-ul li {
        padding: 10px 10px;
        height: auto;
    }

    .right-ul li a {
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-ul li a span {
        height: 20px;
    }

    .right-ul li a span img {
        height: 20px;
    }

    .logo-img {
        padding: 5px 5px 0;
    }

    .logo-img a {
        display: inherit;
    }

    .logo-img a span {
        display: inline-block;
        height: 40px;
    }

    .logo-img a span img {
        height: 40px;
        display: inherit;
    }

    .notification {
        font-size: 12px;
        top: -16px;
        right: -12px;
        height: 17px;
        width: 17px;
        padding: 1px;
    }

    .notify .notification {
        left: 16px;
        font-size: 12px;
        padding: 1px 2px;
        width: 26px;
        height: 19px;
    }


    .container {
        justify-content: center;

    }

    .center {
        /* padding: 20px 20px 0 30px; */
        padding: 20px 34px 0 34px;
        /* padding: 20px 50px 0 30px; */

    }

    .cards {
        gap: 6px;
    }

    .card {
        border-radius: 10px;
    }

    .card .story-logo img {
        height: 40px;
        width: 40px;
        left: 9px;
        top: 11px;
        padding: 0;
        border: 4px solid #0866ff;
    }


    .right-sec {
        display: none;
    }
}

@media (max-width:425px) {

    .left{
        gap: 8px;
        padding: 0;
    }

    .left .logo {
        height: 40px ;
        width: 40px;
        margin: 0;
    }

    .left .search {
        padding: 12px 12px;
    }

    .left .search img {
        width: 17px;
    }

    .menu {
        padding-left: 0;
        justify-content: space-evenly;
    }

    .menu ul li {
        padding: 10px 10px;
        height: 45px;
    }

    .menu li {
        display: none;
    }

    li.bars-icon a {
        height: 25px;
        width: 25px;
    }

    li.bars-icon a span {
        height: 25px;
        display: inline-block;
    }

    li.bars-icon {
        display: block;
    }

    ul.menu-ul li a span img {
        height: 25px;
    }

    

    .right-ul li {
        padding: 8px 10px;
        height: 40px;
    }

    .logo-img {

        padding: 5px 5px 0px 5px;
    }

    .logo-img a {
        display: inline-block;
        height: 45px;
    }

    .logo-img a span {
        display: inline-block;
        height: 45px;
    }

    .logo-img a span img {
        display: inline-block;
        height: 40px;
    }

    .notification {
        font-size: 11px;
        padding: 1px;
    }

    .notify .notification {
        font-size: 11px;
        width: 25px;
        padding: 2px;
        height: 18px;
    }


    .container {
        padding-top: 56px;
    }

    .center {
        padding: 20px 0px 0 5px;
        width: 660px;
    }

    .cards {
        width: 576px;
    }

    .card {
        border-radius: 10px;
    }

    .card .story-logo img {
        height: 40px;
        width: 40px;
        border: 4px solid #0866ff;
        padding: 0;
        left: 9px;
        top: 11px;
    }

    .center-bottom {

        width: 616px;
        margin-left: -10px;
        border-radius: none;
    }


    .card-list {
        padding: 7px 7px 7px 12px;
    }

    .card-list img {
        width: 40px;
    }



    .cardlist-input input {
        padding: 10px 15px;
        font-size: 16px;
        width: 330px;
    }

    .classlist-hr {
        margin: 8px 0;
    }

    .cardList-icons {
        font-size: 15px;
    }


    .post {
        margin-left: -10px;
        width: 440px;
    }
    

    .postList {
        padding: 7px 7px 7px 12px;

    }

    .postList img {
        width: 40px;

    }

    .right-sec {
        display: none;
    }


}


@media (max-width:375px) {
    header {
        width: 100%;

        justify-content: center;
    }

    .left {
        padding-left: 10px;
        gap: 8px;
    }

    .left .search img {
        width: 16px;
    }

    .menu {
        padding-left: 17px;
        padding-right: 6px;
    }


    .center {
        padding: 20px 0px 0 0px;
    }

    .card-list {
        padding: 8px;

    }

    .cardlist-input input {
        width: 300px;
        font-size: 17px;
    }

    .cardList-icons {
        font-size: 16px;
        gap: 0;
        justify-content: flex-start;
    }

    .first-icon {
        width: 180px;
    }


    .post {
        width: 395px;
    }

    

    .postList {
        padding: 8px;
    }
}

@media (max-width:320px) {

    header {
        width: 100%;

        position: absolute;
    }

    .menu {
        display: none;
    }

    .center {
        padding: 20px 0px 0 0px;
    }

    .center-bottom {
        width: 502px;
    }

    .first-icon {
        width: 180px;
    }

    .card-icon img {
        padding: 5px;
    }

    .card-list {
        padding: 7px 7px 7px 14px;

    }

    .cardList-icons{
        padding: 7px 0 7px 8px;
    }


    .post {
        width: 344px;
    }

   

    .postList {
        padding: 7px 7px 7px 14px;

    }

    .postBottom {
        padding: 5px 10px;
    }

    .Post-Last {
        justify-content: space-evenly;
    }
}

/* MObile Screen */
@media only screen and (max-width: 600px) {
   body{
    overflow: hidden;
   }
    .center{
        width: 100%;
        padding: 0;
        margin-top: 8px;
    }
    .center-bottom{
        margin: 0;
        padding: 0;
        margin-top: 10px;
        width: 100%;

    }
    .center-bottom .card-list{
        padding-left: 10px;
        padding-right: 0;
    }
    .cardlist-input {
        width: auto;
    }
    .cardlist-input input{
        width: 100%;
    }
    .first-icon:last-child{
        display: none;
    }
    .cardList-icons{
        width: 100%;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 8px;
        justify-content: center ;
    }
    .cardList-icons > div{
        width: auto;
    }
    .post{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        height: 100%;
        overflow-x: hidden ;
    }
    .post .post-img{
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
    .post .post-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .postBottom{
        width: 100%;
        padding: 0;
    }
    .Post-Last{
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: auto;
    }
    .Post-Last > div{
        padding: 10px 15px;
        background-color: snow;
    }
}

/* Tablet And Large Phone */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}